{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Ao cadastro!</h1>
    </div>
    <form class="form-horizontal" action="/cadastro" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="nome">Nome</label>
                <div class="controls">
                    <input id="nome" type="text" name="nome" placeholder="Nome"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="cnpj">CNPJ</label>
                <div class="controls">
                <input id="cnpj" type="text" name="cnpj" placeholder="CNPJ"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Salvar"/>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
