<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
  </head>
  <body>
    <div class="main-info">
        Este é o Pay me Maybe, onde você recebe facilmente pelos serviços prestados. Ou não.
        <br/>
        <form action="/pagamentos" method="get">
            <input type="text" name="nr_comerciante" />
            <input type="submit" value="Ver meus pagamentos"/>
        </form>
        <a href="/form_cadastro"><button>Cadastrar</button></a>
    </div>
  </body>
</html>
{% endautoescape %}
