{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Pagamentos</h1>
    </div>
    <table class="table table-hover">
        <caption>
            <span class="nr_comerciante">{{ nr_comerciante }}</span>
        </caption>
        <thead>
            <tr>
                <th>Quantia</th>
                <th>Cartão</th>
                <th>Data/Hora</th>
            </tr>
        </thead>
        <tbody>
        {% for pagamento in pagamentos %}
            <tr class="pagamento">
                <td id=quantia>R$ {{ pagamento.quantia }}</td>
                <td id=cartao>{{ pagamento.cartao.numero }}</td>
                <td id=hora>{{ pagamento.hora }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pager">
      {% if anterior %}
        <li><a href="?nr_comerciante={{nr_comerciante}}&anterior={{anterior}}">Anterior</a></li>
      {% endif %}
      {% if tem_mais %}
        <li><a href="?nr_comerciante={{nr_comerciante}}&proximo={{proximo}}">Próximo</a></li>
      {% endif %}
    </ul>
{% endblock %}
